<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587680693093-d845rieqqjvp20d3a7kmjb13sl4g1lmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587680693093-d845rieqqjvp20d3a7kmjb13sl4g1lmj</string>
	<key>API_KEY</key>
	<string>AIzaSyCGWOp8XHvs9RlUTgZJjdSaUnMx3hNS4FM</string>
	<key>GCM_SENDER_ID</key>
	<string>587680693093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weflyProject</string>
	<key>PROJECT_ID</key>
	<string>weflytest-b601c</string>
	<key>STORAGE_BUCKET</key>
	<string>weflytest-b601c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587680693093:ios:ac1f4cc4799c8b4ba6ff8c</string>
</dict>
</plist>